// ==================================================
// Headings
// ==================================================


// Standard headings
// ------------------------------
h1, .h1 {
	@include font-size-h1;
}
h2, .h2 {
	@include font-size-xxlarge;
}
h3, .h3 {
	@include font-size-large;
}
h4, .h4 {
	@include font-size-medium;
}
h5, .h5 {
	@include font-size-normal;
}
h6, .h6 {
	@include font-size-normal;
}
