// ==================================================
// Images
// ==================================================


// Standard figures
// ------------------------------
figure {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding: $space;
	text-align: center;
	background: $grey-lighter;
	box-sizing: border-box;
	
	img {
		display: block;
		margin: 0 auto;
	}
}
figcaption,
.figcaption {
	margin: 1rem 0 0;
	font: inherit;
	color: inherit;
	text-align: inherit;
	box-sizing: border-box;
}
