// ==================================================
// Quotes
// ==================================================


// Standard quotes
// ------------------------------
blockquote {
	@include font-size-medium;
	color: $grey-medium;
	
	cite {
		display: block;
		text-align: right;
		font-weight: bolder;
	}
}
q {
	color: $grey-medium;
}
