// ==================================================
// Buttons
// ==================================================


// Standard buttons
// ------------------------------
@include form-buttons {
	// form buttons are left with their default styles, it's better to use custom class names instead
	// this is to avoid having to constantly override styles in sites where there's multiple button styles
}


// Simple buttons
// ------------------------------
// If the site will use WooCommerce, beware of possible conflicts with WC's own .button class (you can just rename this class to something else)
.button {
	font-size: inherit;
	display: inline-block;
	width: auto;
	border: none;
	padding: 0.5em 2em;
	margin: 0;
	
	color: white;
	background: $blue;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	
	border-radius: 5px;
	box-sizing: border-box;
	transition: color .5s, background-color .5s, border .5s;
	position: relative;
	cursor: pointer;
	
	&:hover,
	&:focus {
		color: white;
		background: $blue-light;
	}
}
