// ==================================================
// Dividers
// ==================================================


// Standard divider
// ------------------------------
hr {
	display: block;
	clear: both;
	border: none;
	border-top: 1px solid $grey-light;
	padding: 0;
	height: 1px;
	margin: $space auto;
}
